{% extends '::base.html.twig' %}

{% block body -%}



<div class="panel panel-default">
    <div class="panel-heading">
        <!--<div class="panel-btns">
            <a href="" class="panel-close">&times;</a>
            <a href="" class="minimize">&minus;</a>
        </div>-->
        <h3 class="panel-title">Usuario #{{ entity.id }}</h3>
        <!--<p>Descripcion</p>-->
    </div>
    <div class="panel-body">
        <!--<h5 class="subtitle mb5">Subtitulo</h5>
        <p class="m20">SubDescripcion</p>
        <br />-->
        <div class="table-responsive">
            <p><b>Id:</b> {{ entity.id }}</p>
            <p><b>Nombre:</b> {{ entity.username }}</p>
            <p><b>Correo:</b> {{ entity.email }}</p>
            <p><b>Rol:</b> {{ entity.rol|join }}</p>
            <p><b>Fecha de Ingreso:</b> {{ entity.fechaingreso }}</p>
        </div>
    </div><!-- panel-body -->

<div class="panel-footer">
    <div class="inline">
        <a href="{{ path('usuario_edit', { 'id': entity.id }) }}" class="btn btn-success"><i class="fa fa-pencil"></i>&nbsp;Editar</a>
        <a class="btn btn-warning" href="{{ path('usuario') }}"><i class="fa fa-arrow-left">&nbsp;</i>Regresar</a>
    </div>
</div>

</div><!-- panel -->
{#
        <ul class="record_actions">
    <li>
        <a href="{{ path('usuario') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('usuario_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>#}
{% endblock %}
