{% extends '::base.html.twig' %}

{% block body %}

	<!-- begin:heading -->
	<div class="heads" style="background: url('{{asset('bundles/app/img/Seccion_Acerca_de_gestion.png') }}') center center;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2> Acerca de Gestión</h2>
				</div>
			</div>
		</div>
	</div>

	<!-- end:heading -->

	<!-- begin:featured -->
	<div class="page-content padd20-top-btm">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="heading-title"><h2>¿Quiénes somos?</h2></div>
					<p>Gestión es un sistema diseñado e implementado por la empresa Dscorp Software.</p>
					<p>Dscorp Software es una empresa 100% mexicana fundada en México en el año de 2004, contando con nueve años de experiencia y siendo líder en desarrollar soluciones corporativas para las necesidades que requiera su empresa. Buscamos ser tu aliado tecnológico para que juntos logremos potenciar tu negocio, a través de la implementación de sistemas administrativos empresariales desarrollados por Dscorp Sofware, asesorándote para elegir la opción que se adapte a tus necesidades y de no existir crear una solución justo a tu medida.</p>
				</div>
				
			</div>
		</div>
	</div>

	<div id="featured">
		<div class="container">
			<div class="row">				
				<div class="col-md-12 col-sm-12">
					<div class="heading-title"><h2>¿Qué es Gestión?</h2></div>				
					<p>Gestión es un Sistema administrativo empresarial que permite el control en todas las operaciones de compra-venta de las PyMEs. Mediante el uso de herramientas de vanguardia, Gestión ha logrado integrar el control de compras, ventas, facturación, entradas y salidas de almacén de manera centralizada, para así obtener información precisa y confiable de la operación general de la empresa, sin necesidad de consolidar datos ni realizar importaciones desde otros sistemas. Genera reportes, estadísticas y gráficas de alto nivel.</p>
				</div>
			</div>
		</div>
	</div>
	<div id="featured">
		<div class="container">
			<div class="row">				
				<div class="col-md-8 col-sm-8">
					<div class="heading-title"><h2>Nuestra misión</h2></div>
					<p>Impulsar, fortalecer e incrementar la competitividad de nuestros clientes nacionales e internacionales innovando a través del servicio, desarrollo y comercialización de herramientas empresariales de vanguardia.</p>
				</div>
				<div class="col-md-4 col-sm-4">
					<img src="{{asset('bundles/app/img/mision_gestion.png') }}" class="img-responsive img-rounded" alt="dodolan manuk catalog template">
				</div>
			</div>
		</div>
	</div>
	<div id="featured">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<img src="{{asset('bundles/app/img/vision_gestion.png') }}" class="img-responsive img-rounded" alt="dodolan manuk catalog template">
				</div>
				<div class="col-md-8 col-sm-8">
					<div class="heading-title"><h2>Nuestra visión</h2></div>
					<p>Ser una empresa líder en el desarrollo de software de administración empresarial a la medida y en productos de línea a nivel nacional y latinoamericano, colocando a nuestro producto dentro de las 5 mejores soluciones del mercado mexicano.</p>
				</div>
			</div>
		</div>
	</div>
	<div id="featured">
		<div class="container">
			<div class="row">				
				<div class="col-md-8 col-sm-8 text-left">
					<div class="heading-title"><h2>Valores</h2></div>
					<p>
						<ul>
							<li>Integridad</li>
							<li>Calidad</li>
							<li>Responsabilidad</li>
							<li>Respeto</li>
						</ul>
					</p>
				</div>
				<div class="col-md-4 col-sm-4">
					<img src="{{asset('bundles/app/img/valores_gestion.png') }}" class="img-responsive img-rounded" alt="dodolan manuk catalog template">
				</div>
			</div>
		</div>
	</div>

	<div id="featured">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<img src="{{asset('bundles/app/img/certificacion_moprosoft.png') }}" class="img-responsive img-rounded" alt="dodolan manuk catalog template">
				</div>
				<div class="col-md-8 col-sm-8">
					<div class="heading-title"><h2>Certificación</h2></div>
					<p>Contamos con la Certificación MoProsoft Nivel I que otorga el gobierno mexicano a las empresas de software cuyos procesos garanticen la entrega de los proyectos de desarrollo en tiempo, forma y costo.</p>
				</div>
			</div>
		</div>
	</div>

	<!-- end:content -->
{% endblock %}