{% extends '::base.html.twig' %}

{% block body %}
	<!-- begin:heading -->
	<div class="heads" style="background: url('{{asset('bundles/app/img/Seccion_servicios.png') }}') center center;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2> Servicios</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- end:heading -->


	<!-- begin:featured -->
	<div class="page-content padd20-top-btm">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="heading-title"><h2>Controla tus ventas</h2></div>
					<div class="row">
						<div class="col-md-8 col-sm-8">
							<ul>
								<li>Este módulo te proporciona la administración de tus clientes, vendedores y distribuidores, puedes elaborar tus documentos fiscales (facturas y notas de crédito) además puedes elaborar notas de venta y cumplir con las normas fiscales actuales, elabora de forma automática la factura de las mismas.</li>
								<li>Controla al mismo tiempo las comisiones que cobran tus vendedores, carga las listas de precio que necesites sin límite y lleva un mejor control de los precios de venta.</li>
								<li>Ten al día tus cuentas por cobrar y otorga permisos individuales en Pedidos y Facturas como por ejemplo para la cancelación de los mismos.</li>
							</ul>
						</div>
						<div class="col-md-4 col-sm-4">
							<img src="{{ asset('bundles/app/img/Servicio_Ventas.png') }}" class="img-responsive">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="featured">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="heading-title"><h2>Controla tus compras</h2></div>
					<div class="row">
						<div class="col-md-8 col-sm-8 text-left">
							<ul>
								<li>Este módulo te proporciona la administración de tus proveedores, crea órdenes de compra, facturas de compra y notas de crédito, almacena también los archivos digitales (PDF Y XML) dentro del mismo documento.</li>
								<li>Ten al día tus cuentas por pagar y otorga permisos individuales para el control de tus órdenes de compra.</li>
							</ul>
						</div>
						<div class="col-md-4 col-sm-4">
							<img src="{{ asset('bundles/app/img/Servicio_Compras.png') }}" class="img-responsive">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-content padd20-top-btm">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="heading-title"><h2>Controla tus gastos</h2></div>
					<div class="row">
						<div class="col-md-8 col-sm-8">
							<ul>
								<li>Descarga desde el SAT tus comprobantes digitales (egresos) de forma automática, sin depender que el proveedor te los envíe (costo adicional), registra y clasifica de forma automática los mismos.</li>
								<li>Obtén Graficas detalladas de cada concepto para tener el detalle exacto de tu empresa.</li>
							</ul>
						</div>
						<div class="col-md-4 col-sm-4">
							<img src="{{ asset('bundles/app/img/Servicio_Gastos.png') }}" class="img-responsive">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="featured">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="heading-title"><h2>Controla tus inventarios</h2></div>
					<div class="row">
						<div class="col-md-8 col-sm-8 text-left">
							<ul>
								<li>Este módulo te proporciona la administración de un catálogo de productos, control de existencias, multi-almacenes, unidades de medida, movimientos entre almacenes, clasificaciones, control de ubicaciones y máximos y mínimos.</li>
							</ul>
						</div>
						<div class="col-md-4 col-sm-4">
							<img src="{{ asset('bundles/app/img/Servicio_Inventario.png') }}" class="img-responsive">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-content padd20-top-btm">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="heading-title"><h2>Contabilidad electrónica</h2></div>
					<div class="row">
						<div class="col-md-8 col-sm-8">
							<ul>
								<li>Este módulo te proporciona el cumplimiento con la reforma fiscal del anexo 24 y poder integrar de forma automática o manual, Integra un catálogo de cuentas desde el SAT, centros de costo, centros de utilidad, Pólizas y herramientas como libro mayor, balanza de comprobación, estado de resultados.</li>
							</ul>
						</div>
						<div class="col-md-4 col-sm-4">
							<img src="{{ asset('bundles/app/img/Servicio_Contabilidad.png') }}" class="img-responsive">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="featured">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="heading-title"><h2>Administra tu tienda en línea</h2></div>
					<div class="row">
						<div class="col-md-8 col-sm-8 text-left">
							<ul>
								<li>Este módulo te proporciona la administración para poder comercializar de manera sencilla tus productos en internet, cuenta con todo el proceso de compra & venta & pago & facturación y todo se realiza desde la misma aplicación.</li>
							</ul>
						</div>
						<div class="col-md-4 col-sm-4">
							<img src="{{ asset('bundles/app/img/Servicios_Tienda_en_linea.png') }}" class="img-responsive">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-content padd20-top-btm">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="heading-title"><h2>Recibos de Nomina</h2></div>
					<div class="row">
						<div class="col-md-8 col-sm-8">
							<ul>
								<li>Este módulo te proporciona la creación de tus recibos de nómina de forma manual, puedes replicar tus recibos previos y además enviarlos a tus trabajadores a su correo electrónico.</li>
							</ul>
						</div>
						<div class="col-md-4 col-sm-4">
							<img src="{{ asset('bundles/app/img/Servicios_Nomina.png') }}" class="img-responsive">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}